<!DOCTYPE html>
<html>
<head>
    <title>Mira Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="h-screen bg-[#161A30] text-white flex flex-col items-center justify-center">
<h1 class="text-3xl mb-4 font-bold">Welcome, <%= user.username %>!</h1>
<p class="text-lg">You're now logged in ✨</p>
</body>
</html>
